/* Import and set fonts
	* --------------------------------------- */
    @import url('https://fonts.googleapis.com/css?family=Lora|Titillium+Web');

    html {font-family: 'Titillium Web', sans-serif;font-size:1.2em}
    h1, h2, h3, h4, h5, h6 {font-family: 'Lora', serif;}

/* Clearfix and floats
	* --------------------------------------- */
	.right {float:right;margin-left:1em}
	.left  {float:left;margin-right:1em}
	.clearfix {clear: both;}

/*  Fix section navigation over slide arrow
	* --------------------------------------- */
    #fp-nav.right {right: 50px !important}

/*  Custom navigation arrows
	* --------------------------------------- */
	.arrow {
		content: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg);
		width: 50px;
	}
	.arrow.up    {transform: rotate(0deg)}
	.arrow.right {transform: rotate(90deg)}
	.arrow.down  {transform: rotate(180deg)}
	.arrow.left  {transform: rotate(270deg)}

	.fp-controlArrow.fp-next {
    	content: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg);
    	width: 50px !important;
    	height: 50px !important;
    	transform: rotate(90deg);
    	border: none;
    	margin-top: -25px;
	}
	.fp-controlArrow.fp-prev {
    	content: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg);
    	width: 50px !important;
    	height: 50px !important;
    	transform: rotate(270deg);
    	border: none;
    	margin-top: -25px;
	}

/*  Section styling
	* --------------------------------------- */
    .inner-content {
        max-width: 1024px;
        margin: 0 auto;
    }

	img {
		max-width: 100%;
		border: solid 1px lightgray
	}

	p {
		text-align: justify;
	}

/*  Section and slide colors
	* --------------------------------------- */
	#section0{
		background: white
	}

	#segMF{
		background: #cbe2b3
	}
	#segM{
		background: #cbe2b3
	}
	#segMI{
		background: #b3cbe2
	}
	#segF{
		background: #e2b3b3
	}
	#segC{
		background: #eaeaea
	}
	#segI{
		background: #b3cbe2
	}
	#segTF{
		background: #e2b3b3
	}
	#segT{
		background: #d6b3e2
	}
	#segTI{
		background: #d6b3e2
	}

/*  Breakpoints
	* --------------------------------------- */

    @media only screen and (min-width: 680px) {
        /* For Smartphones (landscape) and tablets (portrait) */

		img {
			max-width: 70%
		}
    }

    @media only screen and (min-width: 1024px) {
        /* For desktop */

		img {
			max-width: 50%
		}
    }