/*  Import and set fonts
	* --------------------------------------- */
    @import url('https://fonts.googleapis.com/css?family=Lora|Titillium+Web');

    html {font-family: 'Titillium Web', sans-serif;font-size:1.2em}
    h1, h2, h3, h4, h5, h6 {font-family: 'Lora', serif;}

/*  Clearfix and floats
	* --------------------------------------- */
	.right {float:right}
	.left  {float:left}
	.clearfix {clear: both;}

	.right > p {margin:0}

/*  Fix section navigation over slide arrow
	* --------------------------------------- */
    #fp-nav.right {right: 50px !important}

/*  Custom navigation arrows
	* --------------------------------------- */
	.arrow {
		content: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg);
		width: 50px;
	}
	.arrow.up    {transform: rotate(0deg)}
	.arrow.right {transform: rotate(90deg)}
	.arrow.down  {transform: rotate(180deg)}
	.arrow.left  {transform: rotate(270deg)}

	.fp-controlArrow.fp-next {
    	content: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg);
    	width: 50px !important;
    	height: 50px !important;
    	transform: rotate(90deg);
    	border: none;
    	margin-top: -25px;
	}
	.fp-controlArrow.fp-prev {
    	content: url(https://upload.wikimedia.org/wikipedia/commons/8/85/Arrow_top_svg.svg);
    	width: 50px !important;
    	height: 50px !important;
    	transform: rotate(270deg);
    	border: none;
    	margin-top: -25px;
	}
/*  Header / menu
	* --------------------------------------- */
	#header {
		width: 100%;
  		margin: 0;
  		padding: 0;
  		overflow: hidden;
  		background-color: #333;
		position: fixed;
		z-index: 9;
	}

	ul.menu {
  		list-style-type: none;
  		margin: 0 auto;
  		padding: 0;
		max-width: 1024px;
		position: relative;
	}

	ul.menu li:not(:first-child) {display: none;}

	ul.menu li {float: left;}
	ul.menu.responsive li {
		float: none;
		display: inline;
	}

	ul.menu li a {
		display: inline-block;
		color: #f2f2f2;
		text-align: center;
		padding: 14px 16px;
		text-decoration: none;
		transition: 0.3s;
		font-size: 17px;
	}
	ul.menu.responsive li a {
		display: block;
		text-align: left;
	}

	ul.menu li:not(:first-child) a:hover {background-color: #555;}
	
	ul.menu li.icon {
		float: right;
		display: inline-block;
	}
	
	ul.menu.responsive li.icon {
		position: absolute;
		z-index: 9;
		right: 0;
		top: 0;
	}
	
/*  Section styling
	* --------------------------------------- */
    .inner-content {
        max-width: 1024px;
        margin: 0 auto;
    }

	.img {
		max-width: 100%;
		border: solid 1px lightgray
	}
	img{max-width: 100%}
	.imgdesc{font-size:.8em}


	p {text-align: justify}

/*  Section and slide colors
	* --------------------------------------- */
	#section0{
		background: white
	}

	#segMF{
		background: #cbe2b3
	}
	#segM{
		background: #cbe2b3
	}
	#segMI{
		background: #b3cbe2
	}
	#segF{
		background: #e2b3b3
	}
	#segC{
		background: #eaeaea
	}
	#segI{
		background: #b3cbe2
	}
	#segTF{
		background: #e2b3b3
	}
	#segT{
		background: #d6b3e2
	}
	#segTI{
		background: #d6b3e2
	}

/*  Breakpoints
	* --------------------------------------- */

    @media only screen and (min-width: 680px) {
        /* For Smartphones (landscape) and tablets (portrait) */

		.right {margin-left:1em}
		.left  {margin-right:1em}

		.img {
			max-width: 66.666%
		}
    }

    @media only screen and (min-width: 1024px) {
        /* For desktop */

		.img {
			max-width: 50%
		}
    }